.search{
    position: relative;
    padding: 20px;
      
    }
    .fa{
        position: absolute;
        top: 27px;
        left: 25px;
        margin-right: 20px; 
        color: #00838f;;
    }
    .search input{

        height: 60px;
        text-indent: 25px;
        border-radius: 5px;
        width: 600px;
        height: 40px;
    
       }
       .bimage{
        height: 400px;
       }
       .header{
        background-color:#00838f;
       }
       .icon{
        color: white;
        
        margin-bottom: 0;
       }
       @media only screen and (max-width: 700px) {
        .search input {
            width:350px;
        }
        .hide{
          display: none;
           
            
        }
        
      }
      